//* Palette

//? color cube
$color-white: #ffffff;
$color-codGrey: #060606;
$color-windsor: #6b0c7a;
$color-monza: #bc0428;
$color-silver: #bcbcbc;
$color-dodgerBlue: #4154fe;
$color-jumbo: #78787a;
$color-astronautBlue: #014461;
$color-burntSienna: #ec5a57;
$color-verdunGreen: #504e00;

//? median cut
$color-orientalPinks: #bc8b96;
$color-cinder: #0d0b12;
$color-cosmic: #683551;
$color-daisyBush: #4321aa;
$color-seaNymph: #709e9c;

//? material design
$color-shiraz: #a00644;
$color-mongoose: #b6967e;
$color-blueGem: #4613a0;
$color-cocoaBrown: #362428;
$color-royalBlue: #4257ef;
